<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb_aVq8OdDyDIg3L3agADnukUt6P3Hf_I</string>
	<key>GCM_SENDER_ID</key>
	<string>125814954438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlosMata.appPiloto</string>
	<key>PROJECT_ID</key>
	<string>apppiloto-13320</string>
	<key>STORAGE_BUCKET</key>
	<string>apppiloto-13320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125814954438:ios:71ca2d0d8afa6d9d0f7ac7</string>
</dict>
</plist>